{% extends 'client/base.html' %}

{% block content %}
   <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="cluster">Cluster</label>
      <select class="form-control" id="cluster" name="cluster">
        <option value="momo-on-prem">momo-on-prem</option>
        <option value="devops">devops</option>
        <option value="gitlab-runner">gitlab-runner</option>
        <option value="gke-hn-lab">gke-hn-lab</option>
      </select>
    </div>
    <div class="form-group">
      <label for="namespace">Namespace</label>
      <input type="text" class="form-control" name="namespace" placeholder="" required>
    </div>
    <div class="form-group">
      <label for="secret-type">Secret Type</label>
      <select class="form-control" id="secret_type" name="secret_type">
        <option value="opaque">Opaque</option>
        <option value="tls">TLS</option>
      </select>
    </div>
    <div class="form-group">
      <label for="secret-name">Secret Name</label>
      <input type="text" class="form-control" name="secret_name" placeholder="" required>
    </div>
  
    <div class="form-group" id="list_data">
      <label for="secret-data">Secret Data</label>
      <div class="form-group row data">
         <div class="col-md-5">
         <input type="text" class="form-control key" placeholder="Key" name="data_key">
         </div>
         <div class="col-md-5">
         <input type="text" class="form-control value" placeholder="Value" name="data_value">
         </div>
         <div class="col">
            <button class="btn btn-success add_items_data" type="button" style="float: right; width: 71px;">Add</button>
         </div>
      </div>
      
      
    </div>

    <div class="form-group ">
      <p>File input:</p>
      <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="file" multiple onchange="javascript:updateList()" name="input_file">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <p>Selected files:</p>
      <div id="fileList"></div>
      
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" id="encrypt">Submit</button>
    </div>
  </form>
  <form>
   <div class="form-group">
      <label for="output">Output</label>
      <textarea class="form-control-file" rows="4" cols="50" readonly>{{ output }}</textarea>
    </div>
  </form>
  <!-- <form method="POST" action="/client/">
    {% csrf_token %}
    <p>First Name: <input type="text" name="firstname"></p>
    <p>Last Name: <input type="text" name="lastname"></p>
    <p><input type="submit" value="submit"></p>
    <p>{{ ketqua }}</p>
</form> -->

{% endblock %}